RewriteEngine On

# No accesses to composer-relevant things
RedirectMatch 403 (composer.json|composer.lock|/vendor/)

# If request is made for a schema, let it happen normally.
RewriteCond $1 ^schema
RewriteRule ^(.*)$ - [L]

# No end-points have file extensions
RewriteCond %{REQUEST_FILENAME} \.
RewriteRule ^ - [L,F]

# Do not allow a user-defined path variable
RewriteCond %{QUERY_STRING} path=
RewriteRule ^ - [L,R=400]

# RewriteRules for api endpoints
# Deny-allow pattern throughout.
# Allow-list for security (meaning validation for every detail should happen before successful rewrite)
# Deny-list is just descriptive (for example, 405 for wrong method)
# Auth denylist
RewriteCond %{REQUEST_METHOD} !^POST$
RewriteCond $1 ^auth/(login|signup)$
RewriteRule ^(.*)$ - [END,R=405]

RewriteCond %{REQUEST_METHOD} !^GET$
RewriteCond $1 ^auth/ot-token$
RewriteRule ^(.*)$ - [END,R=405]

# Auth allowlist
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteCond $1 ^auth/(login|signup)$
RewriteRule ^(.*) index.php?path=$1 [END,QSA]

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteCond $1 ^auth/ot-token$
RewriteRule ^(.*)$ index.php?path=$1 [END,QSA]

# Student denylist
RewriteCond %{REQUEST_METHOD} !^(POST|GET)$
RewriteCond $1 ^student/?$
RewriteRule ^(.*)$ - [END,R=405]

RewriteCond %{REQUEST_METHOD} !^(GET|PATCH)$
RewriteCond $1 ^student/[\d]+/?$
RewriteRule ^(.*)$ - [END,R=405]

# Student allowlist
RewriteCond %{REQUEST_METHOD} ^(POST|GET)$
RewriteCond $1 ^student/?$
RewriteRule ^(.*)$ index.php?path=$1 [END,QSA]

RewriteCond %{REQUEST_METHOD} ^(GET|PATCH)$
RewriteCond $1 ^student/[\d]+/?$
RewriteRule ^(.*)$ index.php?path=$1 [END,QSA]

# If no prior rules matched, the endpoint doesn't exist (404)
RewriteRule ^ - [END,R=404]